{
  "ApiSettings": {
    "ApiUrl": "https://localhost:7110/api/",
    "SWApiUrl": "https://swapi.dev/api/"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
