{
  "ConnectionStrings": {
    "DefaultConnection": "Server=<hostname/url>;Database=<db>;Uid=<username>;Pwd=<password>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
